
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
}

input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

button {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 50px;

    &:hover {
        background-color: #343a40;
    }
}

.btn-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    margin: 10px 10px 10px 0px;
}
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

small {
    color: #666;
    font-size: 12px;
}

small a {
    text-decoration: underline;
    color: #333;
}