<div *ngIf="attraction; of: attraction">
  <div class="container">
    <app-cards-template
      [title]="'Recommended for You'"
      [attractions]="recommendedAttractions"
      [customCardClass]="'recommended-card-style   '"
      (attractionClick)="goToDetails($event)"
    ></app-cards-template>

    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  </div>

  <div class="container container1 col-12">
    <div class="slider-container col-12 col-sm-12">
      <h3 class="fw-bold">About the operator</h3>
      <p>
        Don’t take it from us – here’s what people have to say about this
        operator:
      </p>

      <div class="row">
        <div class="col-md-3">
          <div class="operator-card text-center">
            <img
              src="https://media-cdn.tripadvisor.com/media/photo-o/2a/81/9e/b5/caption.jpg"
              alt="Operator"
              class="operator-image mb-2"
            />
            <h5 class="fw-bold mb-1">Soirées Fantastiques</h5>
            <div class="rating1">
              <span class="circle"></span><span class="circle"></span
              ><span class="circle"></span><span class="circle"></span
              ><span class="circle"></span>
            </div>
            <p class="text-muted mb-1">📍 {{ attraction.location }}</p>
            <p class="text-muted">Joined in November 2023</p>
          </div>
        </div>

        <!-- ///////////////////////////////////////////////////////////////////////////////// -->

    </div>
  </div>
</div>
