<div *ngIf="attraction of attraction">

    <div class="container main-container col-12">
        <div class="top col-11">
            <div class="header ">
            <h3 class="">{{attraction.title}}</h3>
            <button class="save-button"><i class="fa-regular fa-heart"></i> Save</button>
        </div>
        <p> <a href="">By Soirées Fantastiques</a> </p>
        <div class="reviews">
            <div class="green-circles">
                <div class="green-circle"></div>
                <div class="green-circle"></div>
                <div class="green-circle"></div>
                <div class="green-circle"></div>
                <div class="green-circle"></div>
            </div>
         
            <span> <a class="me-2">{{attraction.reviewsCount}} reviews </a>  Recommended by 100% of travelers</span>
        </div> 
        </div>

       
    <div class="gallery col-12">
  <img [src]="getImage(0)" class="img-1 col-8" alt="Main Experience Image" />

  <div class="side-images col-4">
    <img [src]="getImage(1)" alt="Experience Image 2" />
    <img [src]="getImage(2)" alt="Experience Image 3" />
  </div>
</div>

    </div>
</div>