<div class="container">

  <app-cards-template 
    [title]="'Recently viewed'" 
    [attractions]="attractions"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

  <app-cards-template 
    [title]="'Recommended for you'" 
    [attractions]="recommendedAttractions"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

  <app-cards-template 
    [title]="'Top attractions'" 
    [attractions]="topAttractions"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

  <!-- 🧠 Dynamic rendering of top experiences by destination -->
  <ng-container *ngFor="let entry of topExperiencesByDestination | keyvalue">
    <app-cards-template
      [title]="'Top experiences in ' + entry.key"
      [attractions]="entry.value"
      (attractionClick)="goToDetails($event)"
    ></app-cards-template>
  </ng-container>

  <app-cards-template 
    [title]="'Top experiences worldwide'" 
    [attractions]="topExperiencesWorldwide"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

  <app-cards-template 
    [title]="'Top global destinations'" 
    [attractions]="topGlobalDestinations"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

  <app-cards-template 
    [title]="'Top global attractions'" 
    [attractions]="topGlobalAttractions"
    (attractionClick)="goToDetails($event)"
  ></app-cards-template>

</div>
