html {
  scroll-behavior: smooth;
}

.tab-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  // z-index: 1000;

  .tab {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;

    &.active,
    &:hover {
      border-bottom-color: #000;
      font-weight: bold;
    }
  }
}

.section {
  padding: 2rem 1rem;
  scroll-margin-top: 80px;
}


.restaurant-details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .overview-container {
    flex: 0 0 60%;
  }

  .card-container {
    flex: 0 0 35%;
    padding: 10px;
    border-radius: 10px;
  }
}
.restaurant-details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  .overview-container {
    flex: 0 0 60%;
  }

  .card-container {
    flex: 0 0 35%;
    padding: 10px;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .overview-container,
    .card-container {
      flex: 0 0 100%;
    }
  }
}
