<div class="container-fluid flight_search">
  <div class="flight-txt text-center">
    <h2>Find the best flight for the right price</h2>
    <div class="trip-type-buttons">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="tripType === 'roundTrip'"
            (click)="setTripType('roundTrip')"
          >
            Round Trip
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="tripType === 'oneWay'"
            (click)="setTripType('oneWay')"
          >
            One-way
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="tripType === 'multiCity'"
            (click)="setTripType('multiCity')"
          >
            Multi-city
          </button>
        </li>
      </ul>
    </div>

    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
      <div class="formcontent">
        <div class="firstinput" style="display: flex; width: 100%">
          <div style="position: relative; flex: 1; margin-right: -1px">
            <input
              type="text"
              class="form-control formborder"
              placeholder="From"
              formControlName="from"
              style="padding-right: 35px; border-radius: 20px 0 0 20px"
              [ngClass]="{
                'is-invalid':
                  flightForm.get('from')?.touched &&
                  flightForm.get('from')?.invalid
              }"
            />
            <i
              class="fa-solid fa-location-dot"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: gray;
              "
            ></i>
          </div>

          <div style="position: relative; flex: 1">
            <input
              type="text"
              id="to"
              class="form-control"
              placeholder="Where"
              formControlName="to"
              style="border-radius: 0px"
              [ngClass]="{
                'is-invalid':
                  flightForm.get('to')?.touched && flightForm.get('to')?.invalid
              }"
            />
            <i
              class="fa-solid fa-location-dot"
              style="
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: gray;
              "
            ></i>
          </div>

          <div
            *ngIf="tripType === 'roundTrip'"
            style="display: flex; width: 30%"
          >
            <div style="position: relative; flex: 1" class="datedisp">
              <input
                type="date"
                class="s_disp"
                id="startDate"
                class="form-control"
                formControlName="startDate"
                (change)="validateDateRange()"
                style="padding-right: 35px; border-radius: 0px"
                [ngClass]="{
                  'is-invalid':
                    flightForm.get('startDate')?.touched &&
                    flightForm.get('startDate')?.invalid
                }"
              />
            </div>

            <div style="position: relative; flex: 1">
              <input
                type="date"
                class="e_disp"
                id="endDate"
                class="form-control"
                formControlName="endDate"
                (change)="validateDateRange()"
                style="padding-right: 35px; border-radius: 0px"
                [ngClass]="{
                  'is-invalid':
                    flightForm.get('endDate')?.touched &&
                    flightForm.get('endDate')?.invalid
                }"
              />
            </div>
          </div>

          <div
            *ngIf="tripType === 'oneWay'"
            style="position: relative; flex: 1"
          >
            <input
              type="date"
              id="date"
              class="form-control"
              formControlName="date"
              style="border-radius: 0"
              [ngClass]="{
                'is-invalid':
                  flightForm.get('date')?.touched &&
                  flightForm.get('date')?.invalid
              }"
            />
          </div>

          <div *ngIf="tripType === 'multiCity'">
            <div
              *ngFor="let segment of multiCitySegments.controls; let i = index"
              [formGroup]="getMultiCitySegment(i)"
            >
              <div class="formcontent">
                <div class="firstinput" style="display: flex; width: 100%">
                  <div style="position: relative; flex: 1; margin-right: -1px">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="From"
                      formControlName="from"
                      id="from"
                      [ngClass]="{
                        'is-invalid':
                          segment.get('from')?.touched &&
                          segment.get('from')?.invalid
                      }"
                    />
                  </div>

                  <div style="position: relative; flex: 1; margin-right: -1px">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Where"
                      formControlName="to"
                      id="to"
                      [ngClass]="{
                        'is-invalid':
                          segment.get('to')?.touched &&
                          segment.get('to')?.invalid
                      }"
                    />
                  </div>

                  <div style="position: relative; flex: 1">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="date"
                      [ngClass]="{
                        'is-invalid':
                          segment.get('date')?.touched &&
                          segment.get('date')?.invalid
                      }"
                    />
                  </div>

                  <button (click)="addSegment()">Add Flight</button>
                  <button
                    (click)="removeSegment(i)"
                    *ngIf="multiCitySegments.length > 1"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div style="position: relative; flex: 1">
            <input
              type="text"
              class="form-control"
              placeholder="Select Class and Passengers"
              [value]="
                flightForm.get('class')?.value +
                ', ' +
                flightForm.get('passengers.adults')?.value +
                ' Adults, ' +
                flightForm.get('passengers.children')?.value +
                ' Children'
              "
              (click)="toggleDropdown()"
              style="cursor: pointer; border-radius: 0"
            />
            <div class="dropdown-menu p-3" [class.show]="isDropdownOpen">
              <select class="form-select mb-3" formControlName="class">
                <option value="Economy">First Class</option>
                <option value="Business">Business</option>
                <option value="PremiumEconomy">Economy</option>
                <option value="FirstClass">Premium Economy</option>
              </select>
              <div class="passenger-count">
                <label>Adults</label>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('adults', false)"
                >
                  -
                </button>
                <span>{{ flightForm.value.passengers.adults }}</span>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('adults', true)"
                >
                  +
                </button>
              </div>
              <div class="passenger-count">
                <label>Children</label>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('children', false)"
                >
                  -
                </button>
                <span>{{ flightForm.value.passengers.children }}</span>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('children', true)"
                >
                  +
                </button>
              </div>
              <div class="passenger-count">
                <label>Senior</label>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('seniors', false)"
                >
                  -
                </button>
                <span>{{ flightForm.value.passengers.seniors }}</span>
                <button
                  class="plus-button"
                  (click)="adjustPassengers('seniors', true)"
                >
                  +
                </button>
              </div>
            </div>
          </div>

        

          <button
            type="submit"
            class="findtrip"
            style="
              background-color: rgb(1, 95, 1);
              color: #ccc;
              width: 15%;
              border-radius: 0 20px 20px 0;
            "
            [disabled]="flightForm.invalid"
            (click)="searchFlights(flightForm.value)"
          >
            Find Flight
          </button>
        </div>
        <div class="custom-input">
          <label>
            <input type="checkbox" formControlName="preferNonStop" /> Prefer
            nonstop
          </label>
          <label>
            <input type="checkbox" formControlName="includeNearbyAirports" />
            Include nearby airports
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
