<div class="trip-modal-container">
  <button class="close-btn" mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="modal-title">Trip collaboration</h2>

  <div class="section mb-4">
    <p class="section-title small">
      <i class="fa-solid fa-user-plus"></i>
       Invite collaborators
    </p>
    <p class="section-subtitle  text-muted">
      Copy and send the link below to invite collaborators. Anyone with this
      link can edit and add to your trip.
    </p>

    <div class="invite-link-wrapper">
      <input class="form-control invite-input" [value]="data.inviteLink" readonly />
      <button class="btn copy-btn" (click)="copyLink()">Copy</button>
    </div>
  </div>

  <hr />

  <div>
    <h6 class="collab-title">Collaborators</h6>

    @for (contributor of data.contributors; track $index) {
    <div class="collaborator">
      <img
        src="assets/avatar.jpg"
        alt="avatar"
        class="avatar-img"
      />
      <div>
        <div class="collab-name">
          {{ contributor.firstName }} {{ contributor.lastName }}
        </div>
        <div class="collab-role">
          {{ contributor.isOwner ? "Owner" : "Contributor" }}
        </div>
      </div>
    </div>
    }
  </div>
</div>
