.restaurant-overview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 16px;


  h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  p {
    margin-bottom: 8px;
    font-size: 16px;
    text-decoration: underline #aaaaaaab;

  }

  .hours,
  .contact,
  .address {
    margin-top: 20px;
  }

  .contact-links {
    display: flex;
    gap: 15px;

    .link-item {
      display: flex;
      align-items: center;
      gap: 8px;

      .link {
        color: black;
        font-weight: 500;
      }

      .link:hover {
        color: rgba(0, 0, 0, 0.664);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}




.travelers-choice-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;



  .badge-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #2c2c2c;

    .title {
      font-size: 1rem;
    }

    .year {
      font-size: 0.875rem;
      color: #777;
    }
  }
}
.mint-icon path {
  fill: #34e0a1;
}




.section-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feature-item {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.label {
  font-weight: 600;
}
