<div bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" (onHidden)="onHidden()" [config]="{ backdrop: true }">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
            <div class="modal-header -bottom-0">
                <h5 class="modal-title">Preferences</h5>
              
            </div>
  
            <div class="modal-body">
              <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                  <a class="nav-link" [class.active]="activeTab === 'region'" (click)="setActiveTab('region')">Region and Language</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [class.active]="activeTab === 'currency'" (click)="setActiveTab('currency')">Currency</a>
                </li>
              </ul>
              <div *ngIf="activeTab === 'region'">
                <h6 class="mb-3">Choose a region and language</h6>
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let region of regions">
                    <div class="p-3 h-100 region-card " 
                    [class.selected]="selectedRegion === region"
                    style="cursor: pointer;"
       (click)="selectRegion(region)">
    <strong>{{ region.name }}</strong><br>
    <small>{{ region.language }}</small>
  </div>
                  </div>
                </div>
              </div>
              <div *ngIf="activeTab === 'currency'">
                <h6 class="mb-3">Choose a currency</h6>
                <div class="row">
                  <div class="col-sm-4 col-md-3 col-lg-2 mb-2" *ngFor="let currency of currencies">
                    <div class="p-2 h-100  currency-card" 
                    [class.selected]="selectedCurrency === currency"
                    style="cursor: pointer; font-size: 0.8rem; line-height: 1;"
                    (click)="selectCurrency(currency)">
                 <h6>{{ currency.name }}</h6><br>
                 <small>{{ currency.code }}</small>
               </div>
                  </div>
                </div>
              </div>
                <p class="text-muted mt-4 mb-0" style="font-size: 0.9rem;">
                    Any changes to the preferences are optional and will persist through your user session.
                </p>
            </div>
        </div>
    </div>
  </div>