.shared-container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
.advertisement-container {
  width: 100%;

  @media (min-width: 768px) {
    width: 70%;
  }

  .card {
    .card-body {
      background-color: #f7f5ef;

      a {
        text-decoration: none;

        .content-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;

          @media (min-width: 768px) {
            flex-direction: row;
          }

          .image-container {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            margin-right: 0;

            @media (min-width: 768px) {
              margin-right: 1rem;
            }

            img {
              transform: rotate(-5deg);
              max-width: 200px;
              width: 100%;
              border-radius: 0.5rem;
            }
          }

          .text-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 1rem;

            @media (min-width: 768px) {
              text-align: left;
            }

            .sponsor {
              background-color: lightgray;
              color: #6c757d;
              padding: 0.5rem 1rem;
              border-radius: 50px;
              max-width: fit-content;
              margin: auto;

              @media (min-width: 768px) {
                margin: 0;
              }
            }

            .title {
              margin-top: 1rem;
              font-size: 1.25rem;
              color: #212529;
            }

            .description {
              margin-top: 1rem;
              color: #212529;
            }
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          margin-top: 1rem;

          @media (min-width: 768px) {
            justify-content: flex-end;
          }

          .cta-button {
            background-color: #ffffff;
            color: #212529;
            border: 1px solid #212529;
            border-radius: 50px;
            padding: 0.5rem 1.5rem;
            transition: all 0.3s ease;

            &:hover {
              background-color: #212529;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
}
