<section class="container mt-5 advertisement-container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <a [href]="link" target="_blank" class="text-decoration-none">
            <div class="content-wrapper">

              <div class="image-container">
                <img
                  [src]="imageUrl"
                  class="img-fluid rounded"
                  alt="{{ title }}"
                />
              </div>

              <div class="text-content">
                <div class="sponsor">{{ sponsor }}</div>
                <div class="title">{{ title }}</div>
                <div class="description">{{ description }}</div>
              </div>
            </div>

            <div class="button-container">
              <button class="btn cta-button">
                {{ buttonText }}
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
