
        <div class="container1 ">     
               <h2 class="fw-bold">Plan, book, go—we make it easy</h2>

            <div class="row text-center container3">
                <div class="col-md-3 feature-box">
                    <div class="feature-icon">
                        <img src="../../../../../assets/images/attractions-images/users.png" alt="Travelers">
                    </div>
                    <h4 class="fw-bold">Backed by travelers</h4>
                    <p>See what people loved (or didn’t love) with real reviews on almost everything.</p>
                </div>
                <div class="col-md-3 feature-box">
                    <div class="feature-icon">
                        <img src="../../../../../assets/images/attractions-images/timer.png" alt="Cancellation">
                    </div>
                    <h4 class="fw-bold">Free cancellation</h4>
                    <p>Go with the flow. Most experiences can be canceled up to 24 hours before.</p>
                </div>
                <div class="col-md-3 feature-box">
                    <div class="feature-icon">
                        <img src="../../../../../assets/images/attractions-images/bookmark.png" alt="Price Guarantee">
                    </div>
                    <h4 class="fw-bold">Lowest Price Guarantee</h4>
                    <p>If you find the same thing cheaper online, get a refund of the difference. <a href="#">Learn more</a></p>
                </div>
            </div>
        </div>


   