
<!-- <app-nav-bar-home-page></app-nav-bar-home-page> -->
<app-where-to-home-page></app-where-to-home-page>
<app-navigate-search-home-page></app-navigate-search-home-page>

<app-search-bar-home-page></app-search-bar-home-page>
<app-banner-home-page></app-banner-home-page>
<app-advertisement-home-page></app-advertisement-home-page>


<app-attractive-home-page></app-attractive-home-page>
<app-trends-home-page></app-trends-home-page>


<app-more-explore></app-more-explore>
<app-destination1-home-page></app-destination1-home-page>
<app-destination2-home-page></app-destination2-home-page>


<app-travel-creator></app-travel-creator>

<app-travel-choice></app-travel-choice>
