.logo {
  width: 3rem;
  object-fit: cover;
}

.back-div {
  cursor: pointer;

  .back {
    width: 1.5rem;
  }
}

.policy {
  font-size: 13px;
}

.separator {
  .line {
    height: 1px;
    background-color: #ddd;
  }

  span {
    color: #666;
  }
}
