<div class="container">
    <div class="row d-flex justify-content-center my-5">
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
            <div>
                <img src="tripadvisor.svg" alt="" class="img-fluid logo" />
                <div class="text-div">
                    <h3 class="pt-4 fw-bold">Sign in to unlock the best of Tripadvisor.</h3>
                </div>
            </div>
            <div class="login-options my-5 fs-6">

                <div id="google-btn" class="google-div"></div>

                <div class="email-div px-4 py-2 d-flex align-items-center mt-4" (click)="goToLogin()">
                    <i class="fa-regular fa-envelope mail-icon"></i>
                    <div class="w-100 text-div"><span class="text">Continue with Email</span></div>
                </div>
            </div>
            <div class="policy text-center mt-5 ">
                <p>By proceeding, you agree to our Terms of Use and confirm you have read our Privacy and Cookie
                    Statement.</p>
                <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
            </div>
        </div>
    </div>
</div>