<section class="hero">
    <div class="overlay">
      <div class="hero-content container text-center text-white">
        <h1 class="fw-bold mb-4">Find Things to Do anywhere</h1>
  
      
<div class="search-box-wrapper mx-auto">
    <div class="search-box">
      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
  
      <input
        type="text"
        class="form-control"
        [formControl]="searchControl"
        placeholder="Search by place or activity"
      />
  
      <div
        *ngIf="loading"
        class="loading-text text-muted small position-absolute end-0 top-50 translate-middle-y pe-3"
      >
        Loading...
      </div>
    </div>
  
    <ul *ngIf="suggestions.length > 0" class="suggestions-list">
      <li
        *ngFor="let attraction of suggestions"
        (click)="selectAttraction(attraction)"
        >
        <img
          *ngIf="getAttractionImage(attraction)"
          [src]="getAttractionImage(attraction)"
          alt="Attraction"
        />
        <div class="attraction-texts">
          <div class="fw-semibold">{{ attraction.title }}</div>
          <div class="text-muted small">
            {{ attraction.description }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  
      </div>
    </div>
  </section>
  