<section class="bg-light">
  <div class="bg-gray h-230 d-flex justify-content-center align-items-center gap-2" onclick="showEditImgModel()">
    @if(userData.cover){
    <img [src]="userData.cover" alt="cover image" class="w-100 h-100" style="object-fit: cover;" />
    }
    @else {
    <p class="btn  border-none" (click)="showEditImageModel('cover')"><i class="fa-regular fa-image"></i> Add cover
      photo</p>
    }
  </div>

  <div class="container">
    <div class="main">
      <!-- user data card -->
      <div
        class="bg-white user-info-card p-4 d-flex flex-column flex-lg-row justify-content-start gap-4 align-items-center">
        <!-- image -->
        <img
          [src]="userData.image||'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/e9/bb/default-avatar-2020-65.jpg?w=300&h=-1&s=1'"
          alt="user image" width="150" height="150" class="rounded-circle object-fit-cover" />
        <!-- data -->
        <div class="d-flex flex-column justify-content-center w-100">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h3>{{userData.name}}</h3>
              <p class="text-secondary">&#64;{{userData.username}}</p>
            </div>
            <div class="edit-btn fs-14 px-2 d-flex align-items-center gap-2">
              <button class="py-1 fw-semibold" (click)="showEditModel()">
                Edit profile
              </button>
              <div class="line align-self-stretch"></div>
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle aria-expanded="false">
                  <!-- setting icon -->
                  <i class="fa-solid fa-gear"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="rounded-0 fw-semibold">
                  <button ngbDropdownItem class="fw-semibold btn" (click)="showEditModel()">Edit your profile</button>
                  <button ngbDropdownItem class="fw-semibold btn" (click)="showEditImageModel('image')">Edit your
                    profile image</button>
                  <button ngbDropdownItem class="fw-semibold btn" (click)="showEditImageModel('cover')">Edit your
                    profile image</button>
                </div>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-md-start justify-content-center align-items-center gap-md-5 gap-2">
            <div>
              <h5>contributions</h5>
              <p class="fw-600">0</p>
            </div>
            <div>
              <h5>Followers</h5>
              <p class="fw-600">{{userData.followers?.counter||0}}</p>
            </div>
            <div>
              <h5>Following</h5>
              <p class="text-secondary fw-600">{{userData.following?.counter||0}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- profile nav -->
      <div class="bg-white mb-3 ">
        <ul class="d-flex align-items-center  p-0 m-0 ps-4 ">
          @for (item of navItems; track $index) {
          <li [class.active-li]="currentMainIndex === $index" class="p-2 col-lg-1 col-2 text-center"
            style="cursor: pointer" [ngClass]="{'fs-14': screenSize === 'lg' , 'fs-12': screenSize === 'sm'}"
            (click)="changeMain($index)">
            {{ item.name }}
          </li>
          }
        </ul>
      </div>
      <!-- main section -->
      <section class="col-lg-10 col-12 " id="main-section">
        <div class="row">
          <!-- sidebar -->
          <div class="col-lg-4 d-flex flex-lg-column flex-column-reverse gap-3">
            <!-- frist div -->
            <div class="bg-white d-flex flex-column p-3">
              <h3>Recent Achievements</h3>
              <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <img src="https://www.tripadvisor.com/img2/badges/rookie_photos_milestones_badges.svg" width="80"
                    alt="" />
                  <p class="fs-14 fw-600">Photos Rookie</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <img src="https://www.tripadvisor.com/img2/badges/first-timer_reviews_milestones_badges.svg"
                    width="80" alt="" />
                  <p class="fs-14 fw-600">Reviews First-timer</p>
                </div>
              </div>
              <button class="text-white btn-black rounded-pill align-self-stretch py-2">
                View all
              </button>
            </div>
            <!-- second div -->

            <div class="bg-white d-flex flex-column p-3">
              <h5 class="fs-16">Intr</h5>
              <ul class="fs-14 p-1 m-0 d-flex flex-column gap-2">
                @if(userData.currentCity){
                <li class=""><i class="fa-solid fa-location-dot"></i>
                  {{userData.currentCity.name}},{{userData.currentCity.country}}</li>
                }
                @else {
                <li class="" (click)="showEditModel()">
                  <i class="fa-solid fa-plus"></i> Add your current city
                </li>
                }

                <li class="">
                  <i class="fa-regular fa-calendar"></i> Joined in {{userData.createdAt|date:'MMM yyyy'}}
                </li>
                @if(userData.website){
                <li class=""><i class="fa-solid fa-paperclip"></i> <a [href]="userData"
                    class="text-black">{{userData.website}}</a></li>
                }
                @else {
                <li class=""><i class="fa-solid fa-plus" (click)="showEditModel()"></i> Add a website</li>
                }
                @if(userData.bio){
                <li class=""><i class="fa-solid fa-plus"></i> {{userData.bio}}</li>
                }
                @else {
                <li class="">
                  <i class="fa-solid fa-plus" (click)="showEditModel()"></i> Write some details about
                  yourself
                </li>
                }

              </ul>
            </div>

            <!-- third div -->
            <div class="bg-white d-lg-flex d-none flex-column p-3">
              <h5 class="">Share your travel advice</h5>
              <div class="d-flex flex-column gap-3 my-2 fs-14">
                <div class="d-flex align-items-center gap-3">
                  <a [routerLink]="['/post-photo']"
                    class="text-decoration-none text-black d-flex align-items-center gap-3">
                    <i class="fa-solid fa-camera-retro"></i>
                    <p class="m-0">Post photos</p>
                  </a>
                </div>
                <div class="d-flex align-items-center gap-3">
                  <a [routerLink]="['/review-search']"
                    class="text-decoration-none text-black d-flex align-items-center gap-3">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <p class="m-0">Write review</p>
                  </a>

                </div>
              </div>
            </div>
          </div>
          <!--main feed -->
          <div class="col-lg-7 mt-lg-0 mt-3">
            <ng-container *ngComponentOutlet="navItems[currentMainIndex].Component"></ng-container>
          </div>
        </div>
      </section>




      <!-- add post button -->
      <div
        class="nPst-btn bg-black opacity-75 rounded-circle position-sticky d-lg-none d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px">
        <span class="text-white"><i class="fa-solid fa-plus"></i></span>
      </div>
    </div>
    <!-- edit profile model -->
    <app-profile-edit-model [userData]="userData"></app-profile-edit-model>

    <!-- edit profile image model -->
    <app-profile-image-edit-model></app-profile-image-edit-model>
  </div>
</section>