.btn-light-green{
    background-color:#34E0A1 !important ;
    border: none !important;
    color: #000 !important;
    font-weight: bold;
    font-size: 1.0rem !important;
    // #84E9BD
}
.btn-light-green:hover{
    background-color:#84E9BD !important ;
    
}

.input{
    border: none;
}
.input:focus{
    outline: none;
}
.filter-option{
    cursor: pointer;
}
.filter-option:hover{
    font-size: 17px;
}