<!-- search bar  -->
<div class="container-fluid   ">
    <div class="row position-sticky  top-0 bg-white justify-content-center align-items-center shadow-sm z-2">
        <div class=" col-lg-6 col-12 py-3 ">
            <div class="input-group input-group-lg  rounded-pill border  ">
                <span class="input-group-text bg-white rounded-start-pill border-0" id="basic-addon1"><i
                        class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control border-0 input" placeholder="Search tripadvisor"
                    aria-label="search" aria-describedby="basic-addon1" [(ngModel)]="searchValue">
                <span class="input-group-text bg-white rounded-end-pill border-0 " id="basic-addon1"> <button
                        class="btn btn-lg btn-light-green rounded-pill d-md-block d-none" type="button"
                        id="button-addon2" (click)="searchPlaces()">Search</button>
                </span>
            </div>
        </div>
    </div>


    <div class="row bg-light ">

        <div class="mt-lg-5 mb-5 d-flex  col-12 d-flex justify-content-center position-relative">
            <div
                class=" col-lg-9 col-12 d-flex flex-lg-row flex-column justify-content-center  align-items-start gap-lg-5">
                <!-- filter  -->
                <div class=" bg-white p-4 col-lg-3 col-12 d-flex flex-column gap-3   ">
                    <h5 class="d-lg-block d-none fw-bold">Filter Results</h5>

                    <div class="d-flex flex-lg-column flex-row gap-3 overflow-x-auto ">

                        @for (item of filterOptions; track $index) {
                        <div class=" text-nowrap filter-option"
                            [ngClass]="{'border p-2 rounded-pill': screenSize !== 'lg' }"
                            [ngClass]="{'fw-bold text-decoration-underline': selectedFilter === $index}"
                            (click)="setSelectedFilter($index)">
                            <p class="m-0">{{item}}</p>
                        </div>
                        }
                    </div>
                </div>

                <!-- results -->
                <div class=" col-lg-9 col-12 p-3 d-flex flex-column gap-4"
                    [ngClass]="{'bg-white': screenSize === 'sm' }">
                    @if(searchValue){<h3>Search results matching "{{searchValue}}"</h3>}
                    <!-- cards -->
                    <div class="d-flex flex-column justify-content-center gap-3">
                        @for (item of searchResult; track $index) {
                        <app-search-card [item]="item"></app-search-card>
                        }@empty {
                        <h3 class="text-center">No results found....</h3>
                        }
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>