<div class="py-5" style="background-color: #f7f5ef">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="ms-1 text-dark">More to explore</h3>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div *ngFor="let trend of trends" class="col-lg-4 col-md-6 col-12">
            <div class="p-2 position-relative">
              <a [routerLink]="trend.link">
                <img [src]="trend.image" class="card-img-top img-fixed rounded rounded-25" [alt]="trend.title" />
              </a>
              <div class="mt-2 d-flex justify-content-center">
                <a [routerLink]="trend.link" class="card-title">
                  {{ trend.title }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
