<div class="homepage-hero">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="search-container">
      <h1 class="header fw-bold">Find your perfect restaurant</h1>
      <form role="search" (submit)="searchRestaurants()">
        <input type="search" [(ngModel)]="searchQuery" name="searchQuery"
          class="shadow form-control rounded-pill py-3 px-5 search-input"
          placeholder="Places to go, things to do, hotels" required>
      </form>
    </div>
  </div>
</div>