// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: #ddd 2px solid !important;
  border-radius: 0.2rem !important;

  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

  &:focus {
    outline: none;
    box-shadow: none !important;
  }


  // &:focus {
  //   outline: none;
  //   box-shadow: none !important;
  // }


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
