<div class="py-5" *ngIf="dinnerRestaurants.length">
  <div class="container-lg container-fluid px-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="ms-1 text-dark mb-0">Dinner Restaurants</h4>
          <a [routerLink]="['/restaurants']" [queryParams]="{ mealType: 'Dinner' }" class=" text-dark small seeAll">
            See all
          </a>

        </div>
      </div>

      <div class="col-12">
        <div class="scroll-container d-flex overflow-auto pt-3">
          <div *ngFor="let rest of dinnerRestaurants" class="card-wrapper me-3">
            <div class="card-item position-relative">
              <button class="favorite-btn">
                <i class="fa-regular fa-heart"></i>
              </button>
              <a [routerLink]="['/restaurants', rest._id]">
                <img
                  [src]="rest.images?.restaurantImages[0]"
                  class="card-img-top img-fluid rounded rounded-25"
                  [alt]="rest.name"
                />
              </a>
            </div>

            <div class="card-details">
              <div class="mt-2">
                <a [routerLink]="['/restaurants', rest._id]" class="card-title">{{ rest.name }}</a>
              </div>

              <div class="d-flex align-items-center justify-content-start mt-2">
                <ng-container *ngFor="let _ of createRatingArray(5)">
                  <div class="circle green-circle"></div>
                </ng-container>
                <div class="ms-2">{{ rest.reviewsCount || 0 }} reviews</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loader -->
<div *ngIf="dinnerRestaurants.length === 0">
  <p class="text-center">Loading dinner restaurants...</p>
</div>
