<div class="homepage-shelves-widget">
  <div id="brand-messaging" class="r-columns">

    <div class="r-column">
      <div class="icon-wrap">
        <img src="https://static.tacdn.com/img2/branding/homepage/messaging/icons_restaurants_tl_2x.png"
             class="msg-icon"
             height="48"
             width="114"
             alt="Find Restaurants">
      </div>
      <div class="msg-header">Find the best places to eat</div>
      <div class="msg-copy">
        4.3 million restaurants — everything from street food to fine dining.
      </div>
    </div>

    <div class="r-column">
      <div class="icon-wrap">
        <img src="https://static.tacdn.com/img2/branding/homepage/messaging/icon_reviews_2x.png"
             class="msg-icon"
             height="48"
             width="106"
             alt="See Reviews">
      </div>
      <div class="msg-header">See the latest reviews</div>
      <div class="msg-copy">
        Millions of restaurant reviews and photos from our global travel community.
      </div>
    </div>

    <div class="r-column">
      <div class="icon-wrap">
        <img src="https://static.tacdn.com/img2/branding/homepage/messaging/icon_bookRestaurants_tl_2x.png"
             class="msg-icon"
             height="48"
             width="82"
             alt="Reserve a Table">
      </div>
      <div class="msg-header">Reserve a table</div>
      <div class="msg-copy">
        Make online reservations at restaurants worldwide.
      </div>
    </div>

  </div>
</div>
